@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<br />

<div class="alert">
    <p style="font-family:Bahnschrift;font-size:25px;color:dodgerblue;">Forgot password confirmation</p>
    <p style="font-family:Bahnschrift">
        Please check your email to reset your password.
    </p>

</div>
