@page "/learning-paths/learning-path/courses"


<PageTitle>Courses</PageTitle>

<p style="font-family:Bahnschrift;font-size:18px;display:flex;flex-direction:row;justify-content:space-between;align-items:center;">
    Courses
    <FluentAnchor Href="/learning-paths/learning-path/courses/add-course" IconStart="@(new Icons.Regular.Size20.AddCircle())">
        Add
    </FluentAnchor>
</p>

<FluentStack Orientation="Orientation.Vertical">
    <FluentCard>

    </FluentCard>

    <FluentCard>

    </FluentCard>
    <FluentCard>

    </FluentCard>
</FluentStack>


@code {

}
