@inherits LayoutComponentBase
@layout AccountLayout

<h2 style="color:dodgerblue;font-weight:500">Manage your account</h2>

<div>
    <h2 style="color:dodgerblue;font-weight:200">Change your account settings</h2>
    <hr />
    <FluentGrid>
        <FluentGridItem sm="3">
            <ManageNavMenu />
        </FluentGridItem>

        <FluentGridItem sm="9">
            @Body
        </FluentGridItem>
    </FluentGrid>
</div>
